<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="RTK solution with LC29H modules" />
<meta name="keywords" content="GPS, RTK, LC29H">
<meta name="author" content="Pawel Hryniszak">

<%#<!-- https://css-tricks.com/svg-favicons-in-action/ -->%>
<%#<!-- https://favicon.io/favicon-generator/ -->%>
<link rel="icon" href="./assets/logo-fav.svg">
<title><%= locals.title %></title>
