<div id="pane-nmea" class="tab-pane fade" role="tabpanel" tabindex="0">

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
        <h1 class="h2">NMEA LOG</h1>
    </div>

    <div class="json-top"></div>
</div>