<div id="pane-gps-connection" class="tab-pane fade show active" role="tabpanel" tabindex="0">

    <div class="col-lg-6 col-xxl-4 mx-auto">
        <div class="d-grid gap-2">

            <div class="row g-3 mt-0">
                <div class="col-6">
                    <input type="radio" class="btn-check" name="options-outlined" id="inWebUSB" autocomplete="off"
                        checked>
                    <label class="btn btn-outline-primary w-100" for="inWebUSB">Connect USB</label>
                </div>
                <div class="col-6">
                    <input type="radio" class="btn-check" name="options-outlined" id="inWebSerial" autocomplete="off">
                    <label class="btn btn-outline-primary w-100" for="inWebSerial">Connect Serial</label>
                </div>
            </div>

            <button id="btnCloseDevice" disabled class="btn btn-secondary mb-4" type="button">Disconnect</button>

            <hr>

            <button id="btnConfigDevice" class="btn btn-secondary my-4" type="button" data-bs-toggle="modal"
                data-bs-target="#confirmModuleConfig" disabled>Configure GPS</button>

            <div id="divBaseConfig" hidden>
                <div class="d-flex my-3">
                    <label class="col-7 d-flex justify-content-center align-items-center">Base survey time</label>
                    <select id="selSurveyTime" class="form-select col">
                        <option data-seconds="300" selected>5 min</option>
                        <option data-seconds="600">10 min</option>
                        <option data-seconds="1800">30 min</option>
                        <option data-seconds="3600">1 hr</option>
                        <option data-seconds="7200">2 hr</option>
                        <option data-seconds="14400">4 hr</option>
                        <option data-seconds="21600">6 hr</option>
                    </select>
                </div>

                <div class="d-flex my-3">
                    <label class="col-7 d-flex justify-content-center align-items-center">Base survey accuracy</label>
                    <select id="selSurveyAccuracy" class="form-select col">
                        <option data-accuracy="0.3">0.3 m</option>
                        <option data-accuracy="0.5">0.5 m</option>
                        <option data-accuracy="1">1 m</option>
                        <option data-accuracy="2.5">2.5 m</option>
                        <option data-accuracy="5">5 m</option>
                        <option data-accuracy="10">10 m</option>
                        <option data-accuracy="30" selected>30 m</option>
                    </select>
                </div>

            </div>

        </div>
    </div>


    <%#<!-- Modal -->%>
        <div class="modal fade" id="confirmModuleConfig" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="confirmModuleConfigLabel">---</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        Write configuration to module?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                        <button id="btnConfirmModuleConfig" type="button" class="btn btn-primary"
                            data-bs-dismiss="modal">Yes</button>
                    </div>
                </div>
            </div>
        </div>

</div>