<div id="pane-wpt" class="tab-pane fade h-100" role="tabpanel" tabindex="0">
    <div class="d-flex flex-column h-100">
        <div class="col-lg-6 col-xxl-4 my-3 mx-auto">

            <div class="d-flex align-items-stretch">
                <div class="flex-grow-1 mx-1">
                    <button id="btnAddPoint" type="button" class="btn btn-primary btn-lg d-flex align-items-center"
                        disabled>
                        <h2 class="me-3">Waypoint</h2>
                        <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px"
                            fill="#FFFFFF">
                            <path
                                d="M450-42v-75q-137-14-228-105T117-450H42v-60h75q14-137 105-228t228-105v-75h60v75q137 14 228 105t105 228h75v60h-75q-14 137-105 228T510-117v75h-60Zm30-134q125 0 214.5-89.5T784-480q0-125-89.5-214.5T480-784q-125 0-214.5 89.5T176-480q0 125 89.5 214.5T480-176Zm0-154q-63 0-106.5-43.5T330-480q0-63 43.5-106.5T480-630q63 0 106.5 43.5T630-480q0 63-43.5 106.5T480-330Zm0-60q38 0 64-26t26-64q0-38-26-64t-64-26q-38 0-64 26t-26 64q0 38 26 64t64 26Zm0-90Z" />
                        </svg>
                    </button>
                </div>

                <%#<!-- <div class="flex-grow-1 mx-1">
                    <button id="btnSmthElse" type="button" class="btn btn-primary btn-lg d-flex align-items-center"
                        disabled>
                        <h2>Clear path</h2>
                        <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px"
                            fill="#FFFFFF">
                            <path
                                d="M261-120q-24.75 0-42.37-17.63Q201-155.25 201-180v-570h-41v-60h188v-30h264v30h188v60h-41v570q0 24-18 42t-42 18H261Zm438-630H261v570h438v-570ZM367-266h60v-399h-60v399Zm166 0h60v-399h-60v399ZM261-750v570-570Z" />
                        </svg>
                    </button>
            </div> -->%>

        </div>
    </div>
    <div class="map-div flex-fill">
        <!-- <div class="map-div"></div> -->
    </div>
</div>
</div>