<div id="pane-about" class="tab-pane fade" role="tabpanel" tabindex="0">

    <div class="col-lg-6 col-xxl-4 py-3 mx-auto">

        <div class="d-grid gap-2">
            <h2>RTK solution for LC29H(DA) LC29H(BS)</h2>
            <h4>Pawel Hryniszak</h4>
            <h4>03/08/2024</h4>
            <a class="rounded" href="https://github.com/phryniszak/lc29h">github</a>
        </div>

    </div>

</div>