<div id="divRover" class="is-hidden">
    <button id="btnConfRover" class="button is-primary mb-3">Configure ROVER</button>
    <div class="field mb-3">
        <label class="label">Satellites in view</label>
        <div id="progSatellites" class="progress-wrapper">
            <progress class="progress is-primary is-large" value=0 max=100></progress>
            <p class="progress-value">0</p>
        </div>
    </div>
</div>